@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}
a
{
    text-decoration: none;
    color: #0B60B0;
}
p
{
    color: tomato;
    font-weight: 600;
    font-size: 18px;
    margin-top: 5%;


}
.center
{
    text-align: center;
}
.center span
{
    color: #0B60B0;
}
.center .spaical
{
    color: tomato;
    font-size: 20px;
    text-align: center;
}
.container
{
}
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}
header a
{
    color: #0B60B0;
    font-size: 20px;
}
.roadmap
{
    width: 100%;
    background: #0B60B0;
    height: calc(70vh - 50px);
}
.roadmap h1
{
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    font-size: 20px;
}
.fullStack
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.frontEnd
{

}
.frontEnd .box a
{
    text-decoration: none;
    color: #fff;
}
.frontEnd .box i
{
    padding: 0px 15px;
}
.backEnd
{

}
.backEnd .box a
{
    text-decoration: none;
    color: #fff;
}
.backEnd .box i
{
    padding: 0px 15px;
}
.heading
{
    color: #0B60B0;
    text-align: center;
    padding: 20px ;
    font-size: 22px;

}
.websites
{
}
.sites
{ 

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 20px;
    text-align: center;
}
.sites h1
{
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    color: tomato ;
}
.sites a 
{
    padding: 6px 10px;
    margin: 10px;
    color: #0B60B0;
}
.sites .img-icon
{
    width: 40px;
    text-align: center;

}
.sites .img,
.sites .color,
.sites .icon,
.sites .development 
{
    width: 300px ;
    padding: 10px;
    border-radius: 10px;
    margin: 4% 0% 0% 1% ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


table
{
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 10px;
}
.number
{
    background-color: #0B60B0;
    border-radius: 6px;
    color: #fff;
    border: none;
    width: 30px;
    font-size: 17px;
}
table td,
table th
{
    border-bottom: 1px solid #0B60B0;
    color: #0B60B0;
    padding: 10px;

}
table th
{
    border-radius: 6px;
    color: #0B60B0;
    border: none;
    font-size: 17px;
}
.notes
{
    
    font-weight: 600;
}
.note
{
    color: tomato;
    font-weight: 600;
    font-size: 20px;
    background: rgba(255, 99, 71, 0.308);
    text-align: center;
}
.fme
{
    font-size: 20px;
}
li
{
    list-style: none;
    padding: 10px 30px;
    color: #0B60B0;
}
span
{
    color: tomato;
    font-weight: 600;
}

footer
{
    text-align: center;
}
